# Gradle
*.class
*.jar
.gradle
build/

# Eclipse
.classpath
.checkstyle
.factorypath
.project
.settings
bin/
generated/

# Idea
*.iml
*.ipr
*.iws
.idea/
out/
generated_src/
generated_testSrc/
generated/

# Codegen
.generated

# Mac
.DS_Store

# Jqwik
.jqwik-database
